# Dependency directories
/node_modules

# Compiled output
/build
/dist

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode
.idea

# Log files
*.log

# Dependency lock files
yarn.lock
package-lock.json
